<!DOCTYPE html>
<html>
<head>
	<title>Welcome to My hood</title>
	
</head>
<body>
<div class="banner">
	<div class="navbar">

		<img src="../../assets/img/logo.png" class="logo">
		<ul>
         <li> <a routerLink="/map"> Cartographie </a></li> 
         
         <li> <a routerLink="/map">heatmap</a></li>
         <li> <a routerLink="#">gestion d'utilisateurs</a></li>
         <li> <a routerLink="#">About</a></li>

         
        </ul>


</div>
<div class="content">
<div class="title"> Bienvenue sur notre plateforme IOT</div>
<p>Cette plateform vous offrira l'opportunité de visualiser l'état des Gateways en temps réels
</p>
<button type="button"> Gateways</button>
</div>
</div>
</body>
</html>

